img {
    width: 100%;
}

body {
    background-color: #505050;
}

/*------------------------------------*\
    containere
\*------------------------------------*/
.container {
    width: 80vw;
    background: #505050;
    margin: 0 auto;
}

/*------------------------------------*\
    generalites
\*------------------------------------*/
.color {
    background-color: #919191;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
}

/*------------------------------------*\
    header
\*------------------------------------*/
.header {
    position: relative;
}

.doft {
    /*position :absolute;*/
    width: 500px;
}

.loupe {
    position: absolute;
    width: 10rem;
    bottom: -10%;
    right: 5%;
}

.reload {
    position: absolute;
    width: 2rem;
    top: 5%;
    right: 0;
}

.close {
    position: absolute;
    width: 2rem;
    bottom: 0;
    right: 0;
}

/*------------------------------------*\
    content
\*------------------------------------*/

.content {
    width: 75vw;
    margin: 2rem 7rem;
    background: red;
}

.col {
    display: inline-block;
    width: 7rem;
    height: 30rem;
    float : left;
    padding: 1rem;
}

.col img {
    display: block;
    margin: 0 auto;
    width: 6rem;

}
.oeil {
    border: solid red 8px;
    border-radius: 16px;
}
.brick{
    background: repeat url('resources/brick.jpg');
    width: 115px;
    height: 73px;
    margin: 0 auto;
}

.col_middle {
    width:57vw;
    float: left;
    margin: 0 2rem;
    overflow: hidden;
    position: relative;
}

.img_re {
    overflow: hidden;
    padding: .5rem .5rem .25rem .5rem;
}

.col_middle img {
    width: 100%;
}

/*------------------------------------*\
    la bubble en bas
\*------------------------------------*/
.bubble{
    background-color: #91E39F;
    position: absolute;
    margin: -4vw;
    width: 29vw;
    height: 8vw;
    bottom: 26%;
}

input{
    width: 75%;
}
.police1{
    font: 1.8em "Times";
    padding-right: 1.5vw;
    padding-left: 1vw;
}
.police2{
    font: 1.8em "Times", sans-serif;
}
.police3{
    font-style: italic;
}
.police4{
    text-shadow: 7px 7px 5px rgba(255, 77, 49, 1);
}
.form{
    /*align-content: center;*/
    padding-left: 1vw;
}

.ikea{
    position:absolute;
    width: 5vw;
    height: 5vw;
    bottom: -40%;
    margin: 20vw;
    /*background: red;*/
}

.apple{
    position:absolute;
    width: 6vw;
    height: 6vw;
    bottom: 7vw;
    right: 5vw;
    /*background:peru;*/
}